@import 'colors';


.container {
  margin-top: 100px;
}

.box {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

@each $col, $val in $colors {
  .box-#{$col} {
    background-color: color($val, 100);
    border: 1px solid color($val, 300);
  }
}
