
// Blue Grey   500  - #607D8B
//             50   - #ECEFF1
//             800  - #37474F

// Teal        A400 - #1DE9B6
//             A700 - #00BFA5

// $primary:               #607D8B;
// $primary-light:         #ECEFF1;
// $primary-dark:          #37474F;
// $secondary-light:       #1DE9B6;
// $secondary-dark:        #00BFA5;

// $primary:               #FF6B6B;
// $primary-light:         #ECEFF1;
// $primary-dark:          #1A535C;
// $secondary-light:       #E2D4B7;
// $secondary-dark:        #4ECDC4;

$white:     #EFEFEF;
$yellow:    #E2D4B7;
$green:     #34D1BF;
$blue:      #08B2E3;
$red:       #D1345B;


$primary-other:         #3B5870;

$sm:                    576px;
$md:                    768px;
$lg:                    992px;
$xl:                    1200px;

$primary-text:    rgba(0, 0, 0, .87);
$secondary-text:  rgba(0, 0, 0, .54);
$thirdary-text:   rgba(0, 0, 0, .38);

$primary-text-light:    rgba(255, 255, 255, .87);
$secondary-text-light:  rgba(255, 255, 255, .70);
$thirdary-text-light:   rgba(255, 255, 255, .54);

$font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: $white;
}

.bg-gray {
  background: $white;
}
.bg-white {
  background: #fff;
}

.jumbotron {
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  background: linear-gradient(180deg,$green,$blue);
}
@media (min-width: 768px) {
  .jumbotron {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

pre {
  white-space: normal;
}

.list-group-item {
  padding: 0.25rem .5rem;
}

.image-card {
  flex: 0 1;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.box-border {
  box-shadow: 0 2px 5px rgba(0,0,0,0.06);
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}

.display-json {
  max-height: 300px;
  overflow: auto;
  border: 1px solid $green;
}

.btn-outline-custom {
  color: $blue;
  background-image: none;
  background-color: transparent;
  border-color: $blue;
  &:hover {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
  }
}

.btn-custom {
  color: #fff;
  background-image: $green;
  background-color: $green;
  border-color: $green;
  &:hover {
    color: #fff;
    background-color: $green;
    border-color: $green;
    cursor: pointer;
  }
}

#copy {
  display: none;
  position: absolute;
  right: 2rem;
}

.json-container:hover #copy {
  display: block;
}


.selected-image {
  background-color: rgba(0,0,0,0.1);
  opacity: 0.6;
}

.card-img-top:hover {
  @extend .selected-image;
}
.image-card:hover .select-image {
  display: block;
}

.select-image {
  display: none;
  position: absolute;
  z-index:1;
}

.display-block {
  display: block !important;
}

.DownloadSticky {
  display: none;
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 3;
  color: #fff;
  background-image: $red;
  background-color: $red;
  border-color: $red;
  &:hover, &:focus {
    color: #fff;
    background-color: $red;
    border-color: $red;
    cursor: pointer;
    box-shadow: none;
  }
}

.close-custom {
  color: $red;
  float: right;
  opacity: .5;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  &:focus {
    box-shadow: none;
    outline: none;
  };
}

